---
- name: '[EL] Install script dependencies'
  yum:
    name: '{{ item }}'
    state: present
  with_items:
    - lsof
  when: ansible_os_family == "RedHat"

- name: '[Ubuntu] Install dependencies'
  apt:
    name: '{{ item }}'
    state: present
  with_items:
    - lsof
  when: ansible_os_family == "Debian"

- name: '[release_17.**] Copy the install-tools script'
  template:
    src: 'install-tools.17.sh.j2'
    dest: '{{galaxy_custom_script_path}}/install-tools'
    mode: a+x
  when: galaxy_version_number|float < 18.00

- name: 'Copy the install-tools script'
  template:
    src: 'install-tools.sh.j2'
    dest: '{{galaxy_custom_script_path}}/install-tools'
    mode: a+x
  when: galaxy_version_number|float >= 18.00

- name: 'Copy galaxy.{{ galaxy_config_file_extension }}.sample file to galaxy.lite.{{ galaxy_config_file_extension }}'
  copy:
    src: '{{ galaxy_config_path }}/galaxy.{{ galaxy_config_file_extension }}.sample'
    dest: '{{ galaxy_config_path }}/galaxy.lite.{{ galaxy_config_file_extension }}'
    remote_src: true  
  when: galaxy_version_number|float >= 18.00

- include: install_tool_list.yml
  with_items: '{{ galaxy_tools_tool_list_files }}'
  loop_control:
    loop_var: tool_list_file

- name: 'Delete galaxy.lite.{{ galaxy_config_file_extension }}'
  file:
    path: '{{ galaxy_config_path }}/galaxy.lite.{{ galaxy_config_file_extension }}'
    state: absent
  when: galaxy_version_number|float >= 18.00
