# This file avoid that the ansible rolle indigo.dc-galaxycloud-tools is re-run.
# Removing this file will cause an update of your VM with Galaxy restart.
# if you don't know or you are not sure of what are you doing
# leave it here.
